*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
/captures
.externalNativeBuild
.cxx
/build
/app/build
/core/build
/core/auth/build
*.hprof
